html, body, h1, h2, h3, p, ul, li, a{
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-size: 100%;
    font: inherit;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: auto;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #000;
    margin: 0px auto;

}

#nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
    margin: 20px 1000px;
    position: fixed;
    top: 15px;
    padding-bottom: 5px;
}

h2 {
    color: #fff;
    align-self: flex-start;
    margin-right: 1000px;
}

.nav {
    display: flex;
    list-style: none;
    align-self: flex-end;
    
}
.nav li {
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    font-size: 105%;
}

#contentBox {
    margin: auto;
    display: flex;
    list-style: none;
    flex-direction: column;
    color: #fff;
}

#firstBox {
    background: url(images/tabletop1.jpg) center center no-repeat;
    background-size: cover;
    height: 650px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container {
    text-align: center;
    justify-content: center;
    align-content: center;

}

h1 {
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
    font-size: 500%;
    font-weight: bold;
}

.container p {
    font-size: 200%;
    font-family: 'Oswald', sans-serif;
}

.box {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    height: 350px;
}

.image1 {
    background: url(images/bread.jpg) center center no-repeat;
    background-color: #000;
    background-size: cover;
    height: 350px;
    width: 450px;
    justify-self: flex-start;
}

.content {
    background-color: #222;
    text-align: ;
    width: 900px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.words {
    align-self: center;
    width: 600px;
}

#secondBox {
    display: flex;
    justify-content: space-between;

}

#content1 {
    justify-self: right;
    background-color: #111;
}

#content2 {
    order: 1;
}

#content3 {
   background-color: #444 
}

.image2 {
    background: url(images/pineapple.jpg) center center no-repeat;
    background-color: #000;
    background-size: cover;
    height: 350px;
    width: 440px;
    justify-self: flex-end;
    order: 2;
}

.image3 {
    background: url(images/pasta.jpg) center center no-repeat;
    background-color: #000;
    background-size: cover;
    height: 350px;
    width: 440px;
    justify-self: flex-start;
    
}

h3 {
    font-size: 300%;
    margin-bottom: 20px;
}

.content p {
    font-size: 20px;
    font-family:  'Oswald', sans-serif;
}